[submodule "Drivers/CMSIS/Device/ST/STM32L0xx"]
	path = Drivers/CMSIS/Device/ST/STM32L0xx
	url = https://github.com/STMicroelectronics/cmsis_device_l0.git
	branch = master
[submodule "Drivers/STM32L0xx_HAL_Driver"]
	path = Drivers/STM32L0xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32l0xx_hal_driver.git
	branch = master
[submodule "Drivers/BSP/STM32L0xx_Nucleo"]
	path = Drivers/BSP/STM32L0xx_Nucleo
	url = https://github.com/STMicroelectronics/stm32l0xx-nucleo-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32L0xx_Nucleo_32"]
	path = Drivers/BSP/STM32L0xx_Nucleo_32
	url = https://github.com/STMicroelectronics/stm32l0xx-nucleo-32-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32L073Z_EVAL"]
	path = Drivers/BSP/STM32L073Z_EVAL
	url = https://github.com/STMicroelectronics/stm32l073z-eval-bsp.git
	branch = main
[submodule "Drivers/BSP/STM32L0538-Discovery"]
	path = Drivers/BSP/STM32L0538-Discovery
	url = https://github.com/STMicroelectronics/32l0538discovery-bsp.git
	branch = main
